<div id="<%= dom_id short_link %>">
  <p>
    <strong>Full url:</strong>
    <%= link_to short_link.full_url, short_link.full_url, target: "_blank" %>
  </p>

  <p>
    <strong>Short link:</strong>
    <%= short_link.short_link %>
  </p>

</div>
