<p style="color: green"><%= notice %></p>

<h1>Short links</h1>

<div id="short_links">
  <% unless @short_links.nil? %>
    <% @short_links.each do |short_link| %>
      <%= render short_link %>
    <% end %>
  <% end %>

  <% if @short_links.nil? %>
    <p>Nobody has created any shortlinks yet. Want to be the first?</p>
  <% end %>
</div>
