<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">CIS: Custom Ink Shortener</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Need to shorten your long URL? Simple!</p>
        <div class="lead mb-3">
          <label for="full_url" class="form-label">Try it now:</label>
          <input type="email" class="form-control" id="urlToShorten" placeholder="i.e. https://www.customink.com/products">
        </div>
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">
          <i class="bi bi-link-45deg"></i>
          Shorten It!
        </button>
      </div>
    </div>
  </div>