<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">CIS: Custom Ink Shortener</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Need to shorten your long URL? Simple!</p>
      <div class="lead mb-3">
        <%= simple_form_for @short_link do |f| %>
          <%= f.input :full_url,  label: "Try it now:", 
                                  error: 'Please enter an actual URL.', 
                                  placeholder: "i.e.: https://www.customink.com/products", 
                                  input_html: { id: 'urlToShorten', class: 'form-control form-control-lg mb-3' } %>
          <%= button_tag type: 'submit', class: "btn btn-primary btn-lg" do %>
            <i class='bi bi-link-45deg'></i>
            Shorten It!
          <% end %>
        <% end %>
      </div>
    </p>
  </div>
</div>